$GREEN: #d4d800;
$GRAY: #707070;
$DARK_GRAY: #404040;
$WHITE: #ffffff;

$NAVIGATION_WIDTH: 60px;

//THEME_DARK
$DARK_NAVIGATION_BG: $GREEN;
$DARK_NAVIGATION_COLOR: $DARK_GRAY;
$DARK_NAVIGATION_COLOR_HOVER: $WHITE;

$DARK_PAGE_BG: $DARK_GRAY;

$DARK_ARTICLE_BORDER: $WHITE;
$DARK_ARTICLE_COLOR: $WHITE;
$DARK_ARTICLE_BG: transparent;

$DARK_ARTICLE_TITLE_HOVER: $GREEN;

$DARK_ARTICLE_BUTTON_BG: $GREEN;
$DARK_ARTICLE_BUTTON_COLOR: $DARK_GRAY;
$DARK_ARTICLE_BUTTON_BORDER: $GREEN;
$DARK_ARTICLE_BUTTON_BG_HOVER: transparent;
$DARK_ARTICLE_BUTTON_COLOR_HOVER: $WHITE;
$DARK_ARTICLE_BUTTON_BORDER_HOVER: $WHITE;

//THEME_LIGHT
$LIGHT_NAVIGATION_BG: $DARK_GRAY;
$LIGHT_NAVIGATION_COLOR: $WHITE;
$LIGHT_NAVIGATION_COLOR_HOVER: $GREEN;

$LIGHT_PAGE_BG: $WHITE;

$LIGHT_ARTICLE_BORDER: $GREEN;
$LIGHT_ARTICLE_COLOR: $DARK_GRAY;
$LIGHT_ARTICLE_BG: transparent;

$LIGHT_ARTICLE_TITLE_HOVER: $GREEN;

$LIGHT_ARTICLE_BUTTON_BG: $GREEN;
$LIGHT_ARTICLE_BUTTON_COLOR: $DARK_GRAY;
$LIGHT_ARTICLE_BUTTON_BORDER: $GREEN;
$LIGHT_ARTICLE_BUTTON_BG_HOVER: transparent;
$LIGHT_ARTICLE_BUTTON_COLOR_HOVER: $DARK_GRAY;
$LIGHT_ARTICLE_BUTTON_BORDER_HOVER: $DARK_GRAY;
